[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
findspark = "*"
jupyterlab = "*"
openpyxl = "*"
xlsx2csv = "*"

[dev-packages]

[requires]
python_version = "*"
